/*---------------------
    VARIABLES
---------------------*/

$font-stack: 'Noto Sans JP', sans-serif;
$font-featured: 'M PLUS 1p', sans-serif;
$color-primary: #ffe012;
$color-secondary: #03b2e7;
$color-hero: #04222b;
$color-bg: #46432f;
$color-bg-2: #383626;

/*---------------------
    MIXINS
---------------------*/

@mixin section($theme: $color-bg, $height: 100vh) {
    background-color: $theme;
    min-height: $height;
    padding: 64px 16px;
    display: flex;
}

@mixin content-title($color1: $color-primary, $color2: $color-secondary){
    background-color: $color1;
    color: $color2;
    padding: 4px 8px;
    display: inline-block;
    font-size: 1.5em;
    margin-bottom: 32px;
}

@mixin content-img($color: $color-primary) {
    border: 3px solid $color;
    box-shadow: 0 4px 5px $color-hero;
    padding: 10px;
    background-color: #fff;
}

@mixin description-color($text: $color-secondary, $background: $color-primary) {
    background-color: $background;
    color: $text;
}

/*---------------------
    GENERAL
---------------------*/

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: $font-stack;
    scroll-behavior: smooth;
}

h3 {
    font-family: $font-featured;
}

/*---------------------
    HEADER
---------------------*/

header {
    overflow: hidden;
    height: 60px;
    max-width: 100vw;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 32px minmax(auto, 320px) 1fr;
    z-index: 2;

    .header-bar {
        background-color: $color-primary;
        height: 60px;
    }

    .main-header {
        display: grid;
        justify-content: end;
        align-items: center;

        #navbar {
            list-style: none;

            a {
                text-decoration: none;
                font-size: 1.1em;
                color: $color-hero;
                font-weight: 600;
                padding: 0 16px;
                line-height: 60px;
                display: block;
            }

            a:hover {
                background-color: $color-secondary;
            }
        }
    }

    #logo {
        max-width: 340px;
        margin-top: -9px;
        margin-left: -10px;
    }
}

/*---------------------
    HERO
---------------------*/

#welcome-section {
    @include section($theme: $color-hero);
    text-align: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-weight: 400;
        color: $color-secondary;
        font-size: 4em;
    }

    .subtitle {
        font-weight: 100;
        color: $color-primary;
        font-size: 2em;
    }
}

/*---------------------
    CONTENT
---------------------*/

.container {
    max-width: 1120px;
    width: 100%;
    margin: auto;
}

#web-apps {
    @include section($height: 70vh);

    h3 {
        @include content-title;
    }

    .project-tile img {
        @include content-img;
    }

    .project-tile .item-name{
        @include description-color;
    }

    .project-tile .tags{
        color: $color-secondary;

        span {
            color: $color-primary;
        }
    }
}

#web-sites {
    @include section($theme: $color-bg-2, $height: 70vh);

    h3{
        @include content-title($color1: $color-secondary, $color2: $color-primary);
    }

    .project-tile img {
        @include content-img($color: $color-secondary);
    }

    .project-tile .item-name{
        @include description-color($text: $color-primary, $background: $color-secondary);
    }

    .project-tile .tags{
        color: $color-primary;

        span {
            color: $color-secondary;
        }
    }
}

.item-columns{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 64px;
}

.project-tile {
    max-width: 30%;

    a {
        position: relative;
        display: inline-block;
        width: fit-content;
        text-decoration: none;
        line-height: 0;

        img {
            max-width: 100%;
        }

        p {
            display: inline-block;
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 4px 8px;
            line-height: initial;
        }
    }

    .tags {
        margin-top: 16px;
        font-weight: 600;
        padding: 8px;
        text-align: center;
        text-shadow: 0 2px 2px $color-hero;
    }
}