/*---------------------
    VARIABLES
---------------------*/

$font-stack: "Noto Sans JP", sans-serif;
$font-featured: "M PLUS 1p", sans-serif;
$color-primary: #ffe012;
$color-secondary: #03b2e7;
$color-hero: #04222b;
$color-bg: #104156;
$header-height: 60px;
$header-height-sm: 50px;
/* $color-bg-2: #104156; */

/*---------------------
    MIXINS
---------------------*/

@mixin section($theme: $color-bg, $height: 100vh) {
  background-color: $theme;
  min-height: $height;
  padding: 96px 5%;
  display: flex;
}

@mixin content-title($color1: $color-primary, $color2: $color-secondary) {
  background-color: $color1;
  color: $color2;
  padding: 4px 8px;
  display: inline-block;
  font-size: 2.5em;
  margin-bottom: 96px;
}

@mixin description-color($text: $color-secondary, $background: $color-primary) {
  background-color: $background;
  color: $text;
}

/*---------------------
    GENERAL
---------------------*/

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-stack;
  scroll-behavior: smooth;
}

h3 {
  font-family: $font-featured;
}

/*---------------------
    HEADER
---------------------*/

header {
  overflow: hidden;
  height: $header-height;
  max-width: 100vw;
  width: 100%;
  position: fixed;
  display: grid;
  grid-template-columns: 32px minmax(auto, 320px) 1fr;
  z-index: 2;

  .header-bar {
    background-color: $color-primary;
    height: 60px;
  }

  .main-header {
    display: grid;
    justify-content: end;
    align-items: center;

    #navbar,
    #navbar-mobile {
      list-style: none;

      a {
        text-decoration: none;
        font-size: 1.1em;
        color: $color-hero;
        font-weight: 600;
        padding: 0 16px;
        line-height: $header-height;
        display: block;
      }

      a:hover {
        background-color: $color-secondary;
      }
    }
    /* FOR MOBILE */
    #nav-btn {
      height: 100%;
      padding: 0 16px;

      i {
        line-height: $header-height-sm;
      }

      #navbar-mobile {
        position: fixed;
        display: block;
        width: 100vw;
        right: 0;
        top: 0;
        padding-top: $header-height-sm;
        background-color: $color-secondary;
        z-index: -1;
        text-align: center;

        /*HIDES THE BAR*/
        transform: rotateX(-90deg);
        transform-origin: top center;
        opacity: 0.3;
        transition: 280ms all ease-out;

        a {
          color: $color-primary;
        }
      }
      &:hover,
      &:focus-within {
        background-color: $color-secondary;

        #navbar-mobile {
          opacity: 1;
          transform: rotateX(0);
          visibility: visible;
        }
      }
    }
  }

  #logo {
    max-width: 340px;
    margin-top: -9px;
    margin-left: -10px;
  }
}

/*---------------------
    HERO
---------------------*/

#welcome-section {
  @include section($theme: $color-hero);
  text-align: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-weight: 400;
    color: $color-secondary;
    font-size: 4em;
  }

  .subtitle {
    font-weight: 100;
    color: $color-primary;
    font-size: 2em;
  }
}

/*---------------------
    CONTENT
---------------------*/

.container {
  max-width: 100%;
  margin: auto;
}

#web-apps {
  @include section($height: 70vh);

  h3 {
    @include content-title;
  }

  .project-tile .item-name {
    @include description-color;
  }

  .project-tile a:hover {
    border-color: $color-primary;
  }

  .project-tile .tags {
    color: $color-secondary;

    span {
      color: $color-primary;
    }
  }
}

#web-sites {
  @include section($height: 70vh);

  h3 {
    @include content-title($color1: $color-secondary, $color2: $color-primary);
  }

  .project-tile .item-name {
    @include description-color(
      $text: $color-primary,
      $background: $color-secondary
    );
  }

  .project-tile a:hover {
    border-color: $color-secondary;
  }

  .project-tile .tags {
    color: $color-primary;

    span {
      color: $color-secondary;
    }
  }
}

.item-columns {
  display: grid;
  justify-content: space-between;
  column-gap: 96px;
  row-gap: 96px;
  grid-template-columns: repeat(3, 1fr);
}

.project-tile {
  a {
    position: relative;
    display: inline-block;
    width: fit-content;
    text-decoration: none;
    line-height: 0;

    transition: all 0.3s;
    padding: 24px;
    border: 12px solid #fff;
    background-color: #fff;

    img {
      max-width: 100%;
    }
  }

  .item-name {
    padding: 8px 16px;
    line-height: initial;
    font-size: 1.5em;
  }

  .tags {
    margin-top: 16px;
    font-weight: 600;
    padding: 8px;
    text-align: center;
    text-shadow: 0 2px 2px $color-hero;
  }
}

/*---------------------
    MEDIA QUERIES
---------------------*/

@media (max-width: 1400px) {
  .item-columns {
    column-gap: 32px;
    row-gap: 32px;

    .project-tile {
      .item-name {
        font-size: 1.2em;
      }
      a {
        padding: 16px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .item-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  header {
    height: $header-height-sm;
    grid-template-columns: 16px minmax(auto, 235px) 1fr;

    #logo {
      max-width: 255px;
      margin-top: -6px;
      margin-left: -9px;
    }

    .header-bar {
      height: $header-height-sm;
    }

    .main-header #navbar a {
      line-height: $header-height-sm;
    }

    #navbar {
      display: none;
    }

    #nav-btn {
      display: block;
    }
  }

  #welcome-section h1 {
    font-size: 3em;
  }

  .item-columns {
    grid-template-columns: 1fr;
  }
}
